*{
    font-family: 'Roboto', sans-serif;
}
h2{
    text-align: center;
}
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#notes{
    width: 80%;
    float: right;
}

#waveform {
    display: flex;
    height: 500vh;
    width: 20%;
    max-width: 20%;
    float: left;
    overflow-y: hidden;
}